{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true // needed to support jest
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended", // airbnb support
    "prettier",
    "airbnb-typescript" // airbnb support
  ],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    // airbnb support
    "project": ["./tsconfig.json"]
  },
  "settings": {
    "react": {
      "version": "18"
    }
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "camelcase": "error",
    "quotes": ["error", "single"],
    "no-duplicate-imports": "error",
    "no-alert": 2,
    "no-console": 1,
    "no-debugger": 2,
    "no-unused-vars": "warn",
    "no-use-before-define": 0,
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-explicit-any": "off",
    // airbnb support
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
